@using MultiShop.WebUI.Models.ViewModels.Catalog.Product
@model List<ProductListVM>

<!-- Featured Products Start -->
@if (Model != null)
{
    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Öne Çıkan Ürünler</span></h2>
        <div class="row px-xl-5">

            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                    <div class="product-item bg-light mb-4">
                        <div class="product-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="@Model[i].ImageUrl" alt="">
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate" href="/Product/ProductDetail/@Model[i].Id">@Model[i].Name</a>
                            @if (Model[i].DiscountRate.HasValue && Model[i].DiscountRate > 0)
                            {
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>@string.Format("{0:F2}", Model[i].Price - (Model[i].Price * Model[i].DiscountRate / 100)) ₺</h5><h6 class="text-muted ml-2"><del>@string.Format("{0:F2}", Model[i].Price) ₺</del></h6>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>@Model[i].Price ₺</h5>
                                </div>
                            }

                            <div class="d-flex align-items-center justify-content-center mb-1">
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small>(99)</small>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
}
<!-- Featured Products End -->