@using MultiShop.WebUI.Models.ViewModels.Comment.UserComment
@model List<UserCommentListVM>

<div class="tab-pane fade" id="tab-pane-3">
    <div class="row">
        <div class="col-md-6">
            @if (Model is not null && Model.Count > 0)
            {
                <h4 class="mb-4">Toplam @Model.Count yorum bulunmaktadır.</h4>
                for (int i = 0; i < Model.Count; i++)
                {
                    <div class="media mb-4">
                        <img src="@Model[i].ImageUrl" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                        <div class="media-body">
                            <h6>@Model[i].Name<small> - <i>@Model[i].CreatedDate.ToShortDateString()</i></small></h6>
                            <div class="text-primary mb-2">
                                @for (int y = 1; y <= 5; y++)
                                {
                                    if (Model[i].Rating >= y)
                                    {
                                        <i class="fas fa-star"></i>
                                    }
                                    else @* if (Model[i].Rating < y) *@
                                    {
                                        <i class="far fa-star"></i>
                                    }

                                }
                            </div>
                            <p>@Model[i].Content</p>
                        </div>
                    </div>
                }
            }
            else
            {
                <h4 class="mb-4">Bu ürüne henüz hiç yorum yapılmamış.</h4>
            }
        </div>
        @await Component.InvokeAsync("_ProductDetailAddCommentComponentPartial", new { productId = ViewBag.ProductId })
    </div>
</div>